hr{color:blue;}
p.titulo{text-align:center;color:blue;font-size:30pt;font-weight:bold;border-top:5px double blue;border-bottom:5px double blue;}
img.imagen{border:2px solid blue;order:2;}/*el orden 2 para q vaya despues del texto */
h1.texto{font-size:18pt;font-weight:bold;order:1;}/*aqui queremos que el orden sea primero el texto encima de la imagen*/
div{overflow:auto;position:relative;/*hace q no se sobreponga sobre otro*/
	flex-direction:column;/*los alinea en una columna y para eso tambien se usa el order en el orden que quiera de cada item*/
	align-items:Center;
	display:flex}	/*vuelve al contnedor flexible*/
